.grid{
    justify-content: center;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    ". verde verde ."
    "amarelo genius genius vermelho"
    "amarelo genius genius vermelho"
    ". azul azul .";
    height: 75vh;
    width:75vh;
    border-radius: 120px;

  
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    font-size: 30pt;
    font-family: 'Ultra';
    font-weight: bold;
    color: blue;
    background-image: url(joystick.png);
    margin: 20px;
    }



.verde{
    background-color: green;
    grid-area: verde;
    opacity: 0.3;
    cursor: pointer;
}

.verde:hover{
    opacity: 0.7;
}

.amarelo{
    background-color: yellow;
    grid-area: amarelo;
    opacity: 0.3;
    cursor: pointer;

}

.amarelo:hover{
    opacity: 0.7;}

.vermelho{
    background-color: red;
    grid-area: vermelho;
    opacity: 0.3;
    cursor: pointer;
}

.vermelho:hover{
    opacity: 0.7;}

.azul{
    background-color: blue;
    grid-area: azul;
    opacity: 0.3;
    cursor: pointer;
    }

.azul:hover{
    opacity: 0.7;}

.genius{
    grid-area: genius;
    background-image:url("iconestart.png");
    background-size: cover;
    cursor:pointer;
    opacity: 0.3;

}


.genius:hover{
    opacity: 1.0;}
    







/*=============== TAGS PARA JAVASCRIPT ===============*/

.verdeJS{
    background-color: green;
    grid-area: verde;
    opacity: 1;
}

.amareloJS{
    background-color: yellow;
    grid-area: amarelo;
    opacity: 1;
}

.vermelhoJS{
    background-color: red;
    grid-area: vermelho;
    opacity: 1;
}

.azulJS{
    background-color: blue;
    grid-area: azul;
    opacity: 1;
}